{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>BLOG|Blog Details</title>
{% endblock %}
{% block header %}
    <!-- Page Header -->
    <header class="page-header page-header-mini">
        <h1 class="title">{{post.title}}</h1>
        <ol class="breadcrumb pb-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li>
        </ol>
    </header>
    <!-- End Of Page Header -->
{% endblock %}
{% block content %}
    <section class="container">
        <div class="page-container">
            <div class="page-content">
                <div class="card">
                    <div class="card-header pt-0">
                        <h3 class="card-title mb-4">{{post.title}}</h3>
                        <div class="blog-media mb-4">
                            <img src="{{post.image.url}}" alt="" class="w-100">
                            <!-- <a href="#" class="badge badge-primary">#Salupt</a>  -->
                        </div>  
                        <small class="small text-muted">
                            <a href="#" class="text-muted">BY {{post.author}}</a>
                            <span class="px-2">·</span>
                            <span>{{post.updated}}</span>
                            <span class="px-2">·</span>
                            <a href="#" class="text-muted">{{comments.count}} Comments</a>
                        </small>
                    </div>
                    <div class="card-body border-top">
                        <p class="my-3">{{post.content}}</p> 
                    </div>
                    <!-- comments -->
                    <div class="card-footer">
                         <h6 class="mt-5 mb-3 text-center"><a href="#" class="text-dark">Comments {{comments.count}}</a></h6>
                        <hr>
                        {% for comment in comments %}
                        <div class="media mt-4">
                            <img src="{% static 'imgs/avatar-3.jpg' %}" class="mr-3 thumb-sm rounded-circle" alt="{{comment.name}}">
                            <div class="media-body">
                                <h6 class="mt-0">{{comment.name}}</h6>
                                <p>{{comment.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                         <!-- comment form -->
                        <h6 class="mt-5 mb-3 text-center"><a href="#" class="text-dark">Write Your Comment</a></h6>
                        <hr>
                        <form method="post" action="{% url 'addcomment' post.blog_slug %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12 form-group">
                                    <textarea name="comment" id="" cols="30" rows="10" class="form-control" placeholder="Enter Your Comment Here"></textarea>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <input name="name" type="text" class="form-control" value="Name">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <input name="email" type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <input type="url" name="website" class="form-control" placeholder="Website">
                                </div>
                                {% if request.session.userid %}
                                <div class="form-group col-12">
                                    <button type="submit" class="btn btn-primary btn-block">Post Comment</button>
                                </div>
                                {% else %}
                                <div class="form-group col-12">
                                    <button type="submit" class="btn btn-secondary btn-block" disabled>LogIn to Post Comment</button>
                                </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>                  
                </div> 
                <!-- related post -->
                <h6 class="mt-5 text-center">Related Posts</h6>
                <hr>
                <div class="row">   
                    {% for rpost in relatedPost %}                    
                    <div class="col-md-6 col-lg-4">
                        <div class="card mb-5">
                            <div class="card-header p-0">                                   
                                <div class="blog-media">
                                    <img src="{{rpost.image.url}}" alt="" class="w-100">
                                    <a href="{% url 'category' rpost.category.slug %}" class="badge badge-primary">#{{rpost.category}}</a>        
                                </div>  
                            </div>
                            <div class="card-body px-0">
                                <h6 class="card-title mb-2"><a href="#" class="text-dark">{{rpost.title}}</a></h6>  
                                <small class="small text-muted">{{rpost.updated_at}} 
                                    <span class="px-2">-</span>
                                    <a href="#" class="text-muted">34 Comments</a>
                                </small>
                            </div>                  
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- <div class="instagram-wrapper mt-5">
        <div class="ig-id">
            <a href="javascript:void(0)">Follow @joe_mitchell On Instagram</a>
        </div>
        <a href="javascript:void(0)" class="insta-item">
            <img src="assets/imgs/insta-1.jpg" alt="" class="w-100">
            <div class="overlay">
                <span>
                    <i class="ti-heart"></i> 23
                </span>
                <span>
                    <i class="ti-comment"></i> 12
                </span>
            </div>
        </a>
        <a href="javascript:void(0)" class="insta-item">
            <img src="assets/imgs/insta-2.jpg" alt="" class="w-100">
            <div class="overlay">
                <span>
                    <i class="ti-heart"></i> 23
                </span>
                <span>
                    <i class="ti-comment"></i> 12
                </span>
            </div>
        </a>
        <a href="javascript:void(0)" class="insta-item">
            <img src="assets/imgs/insta-3.jpg" alt="" class="w-100">
            <div class="overlay">
                <span>
                    <i class="ti-heart"></i> 23
                </span>
                <span>
                    <i class="ti-comment"></i> 12
                </span>
            </div>
        </a>
        <a href="javascript:void(0)" class="insta-item">
            <img src="assets/imgs/insta-4.jpg" alt="" class="w-100">
            <div class="overlay">
                <span>
                    <i class="ti-heart"></i> 23
                </span>
                <span>
                    <i class="ti-comment"></i> 12
                </span>
            </div>
        </a>
        <a href="javascript:void(0)" class="insta-item">
            <img src="assets/imgs/insta-5.jpg" alt="" class="w-100">
            <div class="overlay">
                <span>
                    <i class="ti-heart"></i> 23
                </span>
                <span>
                    <i class="ti-comment"></i> 12
                </span>
            </div>
        </a>
        <a href="javascript:void(0)" class="insta-item">
            <img src="assets/imgs/insta-6.jpg" alt="" class="w-100">
            <div class="overlay">
                <span>
                    <i class="ti-heart"></i> 23
                </span>
                <span>
                    <i class="ti-comment"></i> 12
                </span>
            </div>
        </a>
    </div> -->
    {% endblock %}