{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="page-container">
        <div class="page-content">
            <div class="row">                       
                <div class="col-lg-6">
                    <div class="card text-center mb-5">
                        <div class="card-header p-0">                                   
                            <div class="blog-media">
                                <img src="{% static 'imgs/blog-2.jpg' %}" alt="" class="w-100">
                                <a href="#" class="badge badge-primary">#Placeat</a>        
                            </div>  
                        </div>
                        <div class="card-body px-0">
                            <h5 class="card-title mb-2">Voluptates Corporis Placeat</h5>    
                            <small class="small text-muted">January 20 2019 
                                <span class="px-2">-</span>
                                <a href="#" class="text-muted">34 Comments</a>
                            </small>
                            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos saepe dolores et nostrum porro odit reprehenderit animi, est ratione fugit aspernatur ipsum. Nostrum placeat hic saepe voluptatum dicta ipsum beatae.</p>
                        </div>
                        
                        <div class="card-footer p-0 text-center">
                            <a href="single-post.html" class="btn btn-outline-dark btn-sm">READ MORE</a>
                        </div>                  
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card text-center mb-5">
                        <div class="card-header p-0">                                   
                            <div class="blog-media">
                                <img src="{% static 'imgs/blog-3.jpg' %}" alt="" class="w-100">
                                <a href="#" class="badge badge-primary">#dolores</a>        
                            </div>  
                        </div>
                        <div class="card-body px-0">
                            <h5 class="card-title mb-2">Dolorum Dolores Itaque</h5> 
                            <small class="small text-muted">January 19 2019 
                                <span class="px-2">-</span>
                                <a href="#" class="text-muted">64 Comments</a>
                            </small>
                            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos saepe dolores et nostrum porro odit reprehenderit animi, est ratione fugit aspernatur ipsum. Nostrum placeat hic saepe voluptatum dicta ipsum beatae.</p>
                        </div>
                        
                        <div class="card-footer p-0 text-center">
                            <a href="single-post.html" class="btn btn-outline-dark btn-sm">READ MORE</a>
                        </div>                  
                    </div>
                </div>
            </div>
            <div class="row">                       
                <div class="col-lg-6">
                    <div class="card text-center mb-5">
                        <div class="card-header p-0">                                   
                            <div class="blog-media">
                                <img src="{% static 'imgs/blog-4.jpg' %}" alt="" class="w-100">
                                <a href="#" class="badge badge-primary">#amet</a>       
                            </div>  
                        </div>
                        <div class="card-body px-0">
                            <h5 class="card-title mb-2">Quisquam Dignissimos</h5>   
                            <small class="small text-muted">January 17 2019 
                                <span class="px-2">-</span>
                                <a href="#" class="text-muted">93 Comments</a>
                            </small>
                            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos saepe dolores et nostrum porro odit reprehenderit animi, est ratione fugit aspernatur ipsum. Nostrum placeat hic saepe voluptatum dicta ipsum beatae.</p>
                        </div>
                        
                        <div class="card-footer p-0 text-center">
                            <a href="single-post.html" class="btn btn-outline-dark btn-sm">READ MORE</a>
                        </div>                  
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card text-center mb-5">
                        <div class="card-header p-0">                                   
                            <div class="blog-media">
                                <img src="{% static 'imgs/blog-5.jpg' %}" alt="" class="w-100">
                                <a href="#" class="badge badge-primary">#lorem</a>      
                            </div>  
                        </div>
                        <div class="card-body px-0">
                            <h5 class="card-title mb-2">Voluptas Optio Soluta</h5>  
                            <small class="small text-muted">January 15 2019 
                                <span class="px-2">-</span>
                                <a href="#" class="text-muted">112 Comments</a>
                            </small>
                            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos saepe dolores et nostrum porro odit reprehenderit animi, est ratione fugit aspernatur ipsum. Nostrum placeat hic saepe voluptatum dicta ipsum beatae.</p>
                        </div>
                        
                        <div class="card-footer p-0 text-center">
                            <a href="single-post.html" class="btn btn-outline-dark btn-sm">READ MORE</a>
                        </div>                  
                    </div>
                </div>
            </div>
            <div class="row">                       
                <div class="col-lg-6">
                    <div class="card text-center mb-5">
                        <div class="card-header p-0">                                   
                            <div class="blog-media">
                                <img src="{% static 'imgs/blog-1.jpg' %}" alt="" class="w-100">
                                <a href="#" class="badge badge-primary">#lipsum</a>     
                            </div>  
                        </div>
                        <div class="card-body px-0">
                            <h5 class="card-title mb-2">Voluptates Corporis Placeat</h5>    
                            <small class="small text-muted">January 14 2019 
                                <span class="px-2">-</span>
                                <a href="#" class="text-muted">120 Comments</a>
                            </small>
                            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos saepe dolores et nostrum porro odit reprehenderit animi, est ratione fugit aspernatur ipsum. Nostrum placeat hic saepe voluptatum dicta ipsum beatae.</p>
                        </div>
                        
                        <div class="card-footer p-0 text-center">
                            <a href="single-post.html" class="btn btn-outline-dark btn-sm">READ MORE</a>
                        </div>                  
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card text-center mb-5">
                        <div class="card-header p-0">                                   
                            <div class="blog-media">
                                <img src="{% static 'imgs/blog-7.jpg' %}" alt="" class="w-100">
                                <a href="#" class="badge badge-primary">#Elit</a>       
                            </div>  
                        </div>
                        <div class="card-body px-0">
                            <h5 class="card-title mb-2">Praesentium Asperiores</h5> 
                            <small class="small text-muted">January 10 2019 
                                <span class="px-2">-</span>
                                <a href="#" class="text-muted">143 Comments</a>
                            </small>
                            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos saepe dolores et nostrum porro odit reprehenderit animi, est ratione fugit aspernatur ipsum. Nostrum placeat hic saepe voluptatum dicta ipsum beatae.</p>
                        </div>
                        
                        <div class="card-footer p-0 text-center">
                            <a href="single-post.html" class="btn btn-outline-dark btn-sm">READ MORE</a>
                        </div>                  
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-block my-4">Load More Posts</button>
        </div>
    </div>
</div>
{% endblock %}