{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>BLOG|Index</title>
{% endblock %}
{% block content %}
    <div class="container">
        <!-- main post -->
        <div class="page-container">
            <div class="page-content">
                <div class="card">
                    {% for post in main_post %}
                    <div class="card-header text-center">
                        <h5 class="card-title">{{post.title}}</h5> 
                        <small class="small text-muted">{{post.updated_at}} 
                            <span class="px-2">-</span>
                            <a href="#" class="text-muted">{{mainCommentCount}} Comments</a>
                        </small>
                    </div>
                    <div class="card-body">
                        <div class="blog-media">
                            <img src="{{post.image.url}}" alt="" class="w-100"> 
                            <a href="{% url 'category' post.category.slug %}" class="badge badge-primary">#{{post.category}}</a>   
                        </div>  
                        <p class="my-3">{{post.content|slice:":300"}}...</p>
                    </div>
                    
                    <div class="card-footer d-flex justify-content-between align-items-center flex-basis-0">
                        <button class="btn btn-primary circle-35 mr-4"><i class="ti-back-right"></i></button>
                        <a href="{% url 'blogdetails' post.blog_slug %}" class="btn btn-outline-dark btn-sm">READ MORE</a>
                        <a href="#" class="text-dark small text-muted">By : {{post.author}}</a>
                    </div> 
                    {% endfor %}                 
                </div>
                <hr>
                <!-- other post -->
                <div class="row">     
                    {% for posts in  otherposts %}                  
                    <div class="col-lg-6">
                        <div class="card text-center mb-5">
                            <div class="card-header p-0">                                   
                                <div class="blog-media">
                                    <img src="{{posts.image.url}}" alt="" class="w-100">
                                    <a href="{% url 'category' posts.category.slug %}" class="badge badge-primary">#{{posts.category}}</a>        
                                </div>  
                            </div>
                            <div class="card-body px-0">
                                <h5 class="card-title mb-2">{{posts.title}}</h5>    
                                <small class="small text-muted">{{posts.updated_at}} 
                                    <span class="px-2">-</span>
                                    <a href="#" class="text-muted">{{posts.comment_count}} Comments</a>
                                </small>
                                <p class="my-2">{{posts.content|slice:":150"}}...</p>
                            </div>
                            
                            <div class="card-footer p-0 text-center">
                                <a href="{% url 'blogdetails' posts.blog_slug %}" class="btn btn-outline-dark btn-sm">READ MORE</a>
                            </div>                  
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <nav aria-label="Page navigation" class="d-flex justify-content-center">
                    <ul class="pagination">
                    {% if pageobj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ pageobj.previous_page_number }}"><i class="ti-angle-double-left"></i></a>
                    </li>
                    {% endif %}
                    {% for num in pageobj.paginator.page_range %}
                    <li class="page-item {% if pageobj.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{num}}">{{num}}</a>
                    </li>
                    {% endfor %}
                    {% if pageobj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ pageobj.next_page_number }}"><i class="ti-angle-double-right"></i></a>
                    </li>
                    {% endif %}
                    </ul>
                 </nav>
            </div>
        </div>
    </div>
{% endblock %}
 
