{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Blog</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
	<body>
		<section class="m-5 p-2">
			<h1 class="text-5xl font-bold font-serif text-purple-400">HELLO WORLD!!</h1>
		    <p class="text-2xl font-semibold text-slate-500">Blog Index</p>
			<h1 class="text-2xl font-semibold text-slate-500">hellooo</h1>
		</section>
	</body>
</html>