{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>BLOG|Your Post</title>
{% endblock %}
{% block header %}
    <!-- Page Header -->
    <header class="page-header page-header-mini">
        <h1 class="title">Your Blogs</h1>
        <ol class="breadcrumb pb-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <!-- <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li> -->
        </ol>
    </header>
    <!-- End Of Page Header -->
{% endblock %}
{% block content %}
<div class="container mt-2">
    <div class="page-container">
        <div class="page-content">
            <div class="row">    
                {% for post in posts %}                   
                <div class="col-lg-6">
                    <div class="card text-center mb-5">
                        <div class="card-header p-0">                                   
                            <div class="blog-media">
                                <img src="{{post.image.url}}" alt="" class="w-100">
                                <a href="#" class="badge badge-primary">#{{post.category}}</a>        
                            </div>  
                        </div>
                        <div class="card-body px-0">
                            <h5 class="card-title mb-2">{{post.title}}</h5>    
                            <small class="small text-muted">{{post.uploaded_at}} 
                                <span class="px-2">-</span>
                                <a href="#" class="text-muted">{{post.comment_counts}} Comments</a>
                            </small>
                            <p class="my-2">{{post.content|slice:":150"}}...</p>
                            {% if post.status == '1' %}
                            <p class="text-success">PUBLISHED</p>
                            {% else %}
                            <p class="text-warning">DRAFT</p>
                            {% endif %}
                        </div>
                        
                        <div class="card-footer p-0 text-center">
                            <a href="{% url 'umanagepost' post.blog_slug %}" class="btn btn-outline-dark btn-sm">VIEW POST</a>
                        </div>                  
                    </div>
                </div>
                {% empty %}
                <h1 class="text-center">CREATE YOUR FIRST BLOG - <span><a href="{% url 'addblog' %}" class="text-success">ADD BLOG</a></span></h1>
                {% endfor %}
            </div>
            <hr>
            <!-- <button class="btn btn-primary btn-block my-4">Load More Posts</button> -->
        </div>
    </div>
</div>
{% endblock %}